h1{
    color:#c24914;
}
h3{
    color: #c24914;
}
        body{
            background-color: antiquewhite;
            
        }

        hr{
        border-style: none;
            border-top-style: dotted;
            border-color: grey;
            border-width: 5px;
            width: 5%;
        }

a{
     color: #c24914;
}
